<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituto de Educación Superior N° 5 - Sede Perico</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
        }

        header {
            background-color: #007bff;
            padding: 10px 0;
            color: white;
        }

        nav a {
            color: white;
            margin: 0 10px;
        }

        main {
            padding: 20px;
        }
        .form-group2{
            display: none;
        }
    </style>
</head>

<body>

    <header class="fixed-top">
        <div class="container">
            <h1>INSTITUTO DE EDUCACIÓN SUPERIOR N° 5 - SEDE PERICO</h1>
            <nav>
                <a href="http://localhost:9097/">INICIO</a>
                <a href="http://localhost:9097/formulario">DATOS DEL ALUMNO</a>
                <a href="http://localhost:9097/tablas">TABLA DE ALUMNOS</a>
            </nav>
        </div>
    </header>

    <main>
        <br>
        <br>

        <br>
        <br>


        <div class="container">
            <form th:action="@{/guardarAlumno}" th:object="${alumno}" method="post">
                <div class="form-group">
                    <label for="Nombre">Nombre:</label>
                    <input type="text" class="form-control" id="Nombre" th:field= "*{Nombre}" >
                </div>
                <div class="form-group">
                    <label for="Apellido">Apellido:</label>
                    <input type="text" class="form-control" id="Apellido" th:field= "*{Apellido}">
                </div>
                <div class="form-group">
                    <label for="Direccion">Dirección:</label>
                    <input type="text" class="form-control" id="Direccion" th:field= "*{Direccion}" >
                </div>
                <div class="form-group">
                    <label for="fechaDeNacimiento">Fecha de Nacimiento:</label>
                    <input type="date" class="form-control" id="FechaDeNacimiento" th:field= "*{FechaDeNacimiento}" >
                </div>
                <div class="form-group">
                    <label for="Telefono">Teléfono:</label>
                    <input type="number" class="form-control" id="Telefono" th:field= "*{Telefono}" >
                </div>
                <div class="form-group2">
                    <label for="DNI">DNI:</label>
                    <input type="text" class="form-control" id="DNI" th:field= "*{DNI}" th:value="*{DNI}">
                </div>

                <button type="submit" class="btn btn-primary">Enviar Formulario</button>
            </form>
        </div>
    </main>

    <footer>

    </footer>

    
</body>

</html>