<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituto de Educación Superior N° 5 - Sede Perico</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
        }

        header {
            background-color: #007bff;
            padding: 10px 0;
            color: white;
        }

        nav a {
            color: white;  
            margin: 0 10px;
        }

		
        main {
            padding: 20px;
        }
    </style>
</head>

<body>

    <header class="fixed-top">
        <div class="container">
            <h1>INSTITUTO DE EDUCACIÓN SUPERIOR N° 5 - SEDE PERICO</h1>
            <nav>
                <a href="http://localhost:9097/">INICIO</a>
                <a href="http://localhost:9097/formulario">DATOS DEL ALUMNO</a>
                <a href="http://localhost:9097/tablas">TABLA DE ALUMNOS</a>
            </nav>
        </div>
    </header>

    <main>

        <br>
        <br>

        <br>

        <br>

        <h2>Datos del Alumno</h2>

        <div class="container">
           

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Dirección</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Teléfono</th>
                        <th>DNI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="alumno : ${listaAlumnos}">
                        <td th:text="${alumno.nombre}"></td>
                        <td th:text="${alumno.apellido}"></td>
                        <td th:text="${alumno.direccion}"></td>
                        <td th:text="${alumno.fechaDeNacimiento}"></td>
                        <td th:text="${alumno.telefono}"></td>
                        <td th:text="${alumno.DNI}"></td>
                        <td>
                            <form th:action="@{/eliminarAlumno/{DNI} (DNI=${alumno.DNI})}" method="post"> 
                                <button tipe="submit" class="btn btn-danger" > ELIMINAR </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <footer>

    </footer>

</body>

</html>